@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%   { transform: translateY(0px) translateX(0px); }
  50%  { transform: translateY(-20px) translateX(10px); }
  100% { transform: translateY(0px) translateX(0px); }
}

@keyframes floatimg {
  0%   { transform: translateY(0px) translateX(0px); }
  50%  { transform: translateY(-10px) translateX(5px); }
  100% { transform: translateY(0px) translateX(0px); }
}

.float-1 {
  animation: float 6s ease-in-out infinite;
}

.float-img{
    animation: floatimg 5s ease-in-out infinite;
}

.float-2 {
  animation: float 8s ease-in-out infinite;
}

.float-3 {
  animation: float 7s ease-in-out infinite;
}

.float-4 {
  animation: float 9s ease-in-out infinite;
}